@using Resources;

<div id="plugin-wizard" class="innerLR">
    <div class="widget widget-heading-simple widget-body-gray">			
	    <!-- Widget heading -->
	    <div class="widget-head"></div>
	    <!-- // Widget heading END -->				
	    <div class="widget-body center">
            <a href="#basic-wizard" title=">@Html.Raw(Labels.HOW_TO_USE_PLUGIN_TITLE)">
                <span class="gritter-add-sticky btn btn-default btn-block btn-icon-stacked glyphicons right_arrow"><i></i>
                    <strong>@Html.Raw(Labels.HOW_TO_USE_PLUGIN_TITLE):</strong>
                </span>
            </a>
            <span> @Html.Raw(Labels.HOW_TO_USE_PLUGIN_SUBTITLE)</span>
            <br />
            <a href="#disk-wizard" title=">@Html.Raw(Labels.HOW_TO_USE_PLUGIN_TITLE_UPLOAD)">
                <span class="gritter-add-sticky btn btn-default btn-block btn-icon-stacked glyphicons right_arrow"><i></i>
                    <strong>@Html.Raw(Labels.HOW_TO_USE_PLUGIN_TITLE_UPLOAD):</strong>
                </span>
            </a>
            <span> @Html.Raw(Labels.HOW_TO_USE_PLUGIN_SUBTITLE_UPLOAD)</span>
            <br />
		    <a href="#install-wizard" title=">@Html.Raw(Labels.HOW_TO_INSTALL_PLUGIN_TITLE)">
                <span class="gritter-add-sticky btn btn-default btn-block btn-icon-stacked glyphicons right_arrow"><i></i>
                    <strong>@Html.Raw(Labels.HOW_TO_INSTALL_PLUGIN_TITLE):</strong>
                </span>
            </a>
            <span> @Html.Raw(Labels.HOW_TO_INSTALL_PLUGIN_SUBTITLE)</span>
	    </div>
    </div>
</div>

