@using Resources;

<hgroup class="title">
    <h1>@Labels.ABOUT_TITLE</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>@Labels.PRODUCT</h3>
    </header>
    <p>
        <span>Qapture Web Scan Plugin</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@Labels.VERSION</h3>
    </header>
    <p>
        <span>1.0.0</span>
    </p>
</section>
<br />
<hgroup class="title">
    <h1>@Labels.CONTACT_TITLE</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>@Labels.COMPANY</h3>
    </header>
    <p>
        <span>iQ Ingenieros</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@Labels.PHONE</h3>
    </header>
    <p>
        <span>+34 928 189 880</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:Support@example.com">support@iqingenieros.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@Labels.WEBSITE</h3>
    </header>
    <p>
        <span><a href="http://iqingenieros.com">www.iqingenieros.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@Labels.ADDRESS</h3>
    </header>
    <p>
        Avda. de America, 98 - Local<br />
        35250 - Las Palmas<br />
        Spain
    </p>
</section>