@using Resources;
@{
    ViewBag.ImgPath = "/Content/img";
}

<div id="basic-wizard" class="innerLR">
<div id="wizard">
    <div class="widget widget-heading-simple widget-body-gray">
		<div class="widget-body"><p class="lead center margin-none padding-none"><h2><span>@Html.Raw(Labels.HOW_TO_USE_PLUGIN_TITLE)</span></h2></p></div>
	</div>
    <div class="wizard">
	    <div class="widget widget-tabs widget-tabs-double widget-tabs-vertical row-fluid row-merge">		
            <div class="widget-head span3">
		        <ul>
                    <li class="active"><a href="#tab1-1" class="glyphicons circle_ok" data-toggle="tab"><i></i><span class="strong">Antes de empezar. Consideraciones previas</span></a></li>
			        <li><a href="#tab2-1" class="glyphicons circle_ok" data-toggle="tab"><i></i><span class="strong">Crea la vista</span></a></li>
			        <li><a href="#tab3-1" class="glyphicons circle_ok" data-toggle="tab"><i></i><span class="strong">!Listo! Escanea tu documento</span></a></li>
		        </ul>
	        </div>
            <br />
            <!-- // Widget heading END -->			
	        <div class="widget-body span9">
		        <div class="tab-content">		
                    <div class="tab-pane active" id="tab1-1">
				        <div class="row-fluid">
					        <div class="span12">
						        <h4><strong>Consideraciones previas</strong></h4>
						        <p>
                                    Este plugin solo está disponible para equipos con <b>Microsoft Windows</b> instalado.<br />
                                    <br />
                                    El ejemplo de uso que se propone llama al plugin y muestra la imagen escaneada.<br />
                                    <br />
                                    El código de ejemplo es un proyecto <b>ASP.NET 4.0</b> de <b>Visual Studio 2010</b>. @*Descarga el proyecto <a href="@Url.Content("~/Data/Resources/Qapture.Example.zip")">aquí</a>.*@<br />
                                    <br />
                                    Para probar los ejemplos debes <a href="#install-wizard" title=">@Html.Raw(Labels.HOW_TO_INSTALL_PLUGIN_TITLE)">instalar el plugin</a>.
                                </p>
					        </div>
 				        </div>
			        </div>
                    <br />
                    <div class="tab-pane" id="tab2-1">
                        <div class="row-fluid">
                            <div class="span12">
				                <h4><strong>Crea la vista</strong></h4>
                                <p>
                                    Añade las referencias a las bibliotecas de <i>Silverlight</i>...</i><br />
                                    <br />
                                    <i>~\Views\Scan\ScanExampleBasic.cshtml</i>
                                </p>
                                <pre><code>        
@{
    string code = @"
    <script src=""@Url.Content(""~/Scripts/shared/silverlight/silverlight.js"" type=""text/javascript""></script>
    <script src=""@Url.Content(""~/Scripts/shared/silverlight/silverlight.error.js"" type=""text/javascript""></script>";
    <text>@code</text>
}
                                </code></pre>
                                <p>
                                    ...el tag <i>img</i> con <b>id="scanner-screenshot"</b> donde <i>Qapture</i> insertará la imagen escaneada...<br />
                                    <br />
                                    <i>~\Views\Scan\ScanExampleBasic.cshtml</i>
                                </p>
                                <pre><code>
@{
    code = @"
        <a href=""#passport"" data-toggle=""modal"">
        <img id=""scanner-screenshot"" src=""\@Model.WebPath"" alt=""scanner-screenshot"" class=""preview"" /> 
        </a>";
    <text>@code</text>
}
                                </code></pre>
                                <p>
                                    ...el botón de la clase <b>silverlight-capture</b> al que asociaremos la llamada al plugin a su evento <i>onclick</i><br />
                                    <br />
                                    <i>~\Views\Scan\ScanExampleBasic.cshtml</i>
                                </p>
                                <pre><code>        
@{
    code = @"
        <input type=""button"" class=""btn btn-primary silverlight-capture"" value=""@ViewBag.Scan""/>";
    <text>@code</text>
}
                                </code></pre>
                                <p>
                                    ...añade ahora el código con el objeto que contiene el plugin...<br />
                                    <br />
                                    <i>~\Views\Scan\ScanExampleBasic.cshtml</i>
                                </p>
                                <pre><code>        
@{
    code = @"
    <div class=""silverlightControlHost captureImagen"" style=""height:100px; background:transparent; text-align:center;"">
        <object id=""silverlightControlHost"" data=""data:application/x-silverlight-2,"" type=""application/x-silverlight-2"" width=""100%"" height=""100%"">
        <param name=""source"" value=""/ClientBin/moleQule.Plugin.Qapture.xap""/>
        <param name=""onError"" value=""onSilverlightError"" />
        <param name=""background"" value=""white"" />
        <param name=""minRuntimeVersion"" value=""5.0.61118.0"" />
        <param name=""autoUpgrade"" value=""true"" />
        <a href=""http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0"" style=""text-decoration:none"">
            <img src=""http://go.microsoft.com/fwlink/?LinkId=161376"" alt=""Get Microsoft Silverlight"" style=""border-style:none""/>
        </a>
        </object><iframe id=""_sl_historyFrame"" style=""visibility:hidden;height:0px;width:0px;border:0px""></iframe>
    </div>";
    <text>@code</text>
}
                                </code></pre>
				                <p>
                                    ...y el código javascript que comunica con el plugin mediante la función <b>Start</b>...<br />
                                    <br />
                                    <i>public Boolean Start(string barMessage, string serialNumber, int maxWidth, int maxHeight, bool debug);<br />
                                    (Parámetros [maxWidth = 0: ancho original, maxHeight = 0: alto original, debug = true: muestra información de errores])</i><br /> 
                                    <br />
                                    (Usa el número de serie 'Ygcc560952xsHqevneGmXp0NF8aOUp5C' para el dominio <b>localhost</b> o tu número de serie si has adquirido el plugin)<br />                                    
                                    <br />
                                    <i>~\Views\Scan\ScanExampleBasic.cshtml</i>
                                </p>
                                <pre><code>
@{
    code = @"
    <script type=""text/javascript"">
        $(document).ready(function () {
            $('.silverlight-capture').click(function (e) {
                var control = document.getElementById('silverlightControlHost');
                var button = $(this);
                control.Content.Qapture.Start('@ViewBag.WaitingForScanning', 'Ygcc560952xsHqevneGmXp0NF8aOUp5C', 800, 800, true);
            });
        });
    </script>";
    <text>@code</text>
}
                                </code></pre>
                           </div>
                        </div>
			        </div>
			        <div class="tab-pane" id="tab3-1">
                        <div class="row-fluid">
                            <div class="span12">
				                <h4><strong>¡Listo! Escanea tus documentos</strong></h4>
				                <p>
                                    Ahora tu aplicación es capaz de conectarse al escáner del cliente.
                                </p>
                            </div>
                        </div>
			        </div>		
		        </div>
	        </div>
        </div>
    </div>
</div>
</div>